@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.eot");
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans-display-medium.eot");
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/noto-sans-display-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-display-medium.woff2") format("woff2"), url("../fonts/noto-sans-display-medium.woff") format("woff"), url("../fonts/FontsFree-Net-NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans.eot");
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/NotoSans.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans.woff2") format("woff2"), url("../fonts/NotoSans.woff") format("woff"), url("../fonts/NotoSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans-display-black.eot");
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/noto-sans-display-black.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-display-black.woff2") format("woff2"), url("../fonts/noto-sans-display-black.woff") format("woff"), url("../fonts/noto-sans-display-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto-sans-display-semibold.eot");
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/noto-sans-display-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-display-semibold.woff2") format("woff2"), url("../fonts/noto-sans-display-semibold.woff") format("woff"), url("../fonts/noto-sans-display-semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Noto Sans", sans-serif;
  color: #181818;
  font-size: 14px;
}

select {
  border: none;
  color: #707f8d;
  background: none;
  cursor: pointer;
}
select:focus-visible {
  outline: none;
}

option[default] {
  display: none;
}

input {
  border: none;
}
input:focus-visible {
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #707f8d;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 1px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1290px;
  }
}

.breadcrumbs {
  margin: 60px 0 18px 0;
}
.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.breadcrumbs ul .stage {
  position: relative;
}
.breadcrumbs ul .stage:not(:last-child) {
  padding-right: 7px;
  margin-right: 28px;
}
.breadcrumbs ul .stage:not(:last-child)::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: -17px;
  top: 0;
}
.breadcrumbs ul .stage a {
  font-weight: 500;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.breadcrumbs ul .stage a:hover {
  color: #257ac9;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.breadcrumbs ul .stage.active a {
  color: #257ac9;
}

.logo img {
  max-width: 160px;
}

.add-btn {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  padding: 9px 17px;
  background: #257ac9;
  border-radius: 8px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.add-btn:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #579b13;
}

header {
  color: #707f8d;
}
header a {
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header a:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.5;
}
header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0 34px 0;
}
header .header-top .left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
header .header-top .left-block > a:not(:last-child) {
  margin-right: 40px;
}
@media screen and (max-width: 530px) {
  header .header-top .left-block > a:not(:last-child) {
    margin-right: 25px;
  }
}
header .header-top .left-block .location {
  position: relative;
  padding-left: 21px;
}
header .header-top .left-block .location::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/location.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -2px;
  top: -1px;
}
header .header-top .left-block .lang {
  position: relative;
  padding-left: 25px;
}
header .header-top .left-block .lang::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/United-states_flag_icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: -1px;
}
header .header-top .right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
header .header-top .right-block > a:not(:last-child) {
  margin-right: 40px;
}
@media screen and (max-width: 530px) {
  header .header-top .right-block > a:not(:last-child) {
    margin-right: 25px;
  }
}
header .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  header .header-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 991px) {
  header .header-bottom .logo {
    margin-bottom: 20px;
  }
}
header .header-bottom .catalog-btn {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 14px 11px 42px;
  background: #257ac9;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 991px) {
  header .header-bottom .catalog-btn {
    width: 100%;
    margin-bottom: 3px;
  }
}
header .header-bottom .catalog-btn:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #0f5da5;
}
header .header-bottom .catalog-btn::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  background-image: url(../img/catalog-icon.svg);
  background-repeat: no-repeat;
  left: 13px;
  top: 15px;
}
header .header-bottom .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #257ac9;
  border-radius: 8px;
  padding: 2px;
}
@media screen and (max-width: 991px) {
  header .header-bottom .search-form {
    width: 100%;
  }
}
header .header-bottom .search-form #search-form {
  background: #fff;
  width: 567px;
  border-radius: 8px;
  padding: 11px;
}
@media screen and (max-width: 1399px) {
  header .header-bottom .search-form #search-form {
    width: 500px;
  }
}
@media screen and (max-width: 991px) {
  header .header-bottom .search-form #search-form {
    width: 100%;
  }
}
header .header-bottom .search-form #search-form #category {
  width: 23%;
  margin-right: 18px;
}
@media screen and (max-width: 1299px) {
  header .header-bottom .search-form #search-form #category {
    width: 26%;
  }
}
@media screen and (max-width: 575px) {
  header .header-bottom .search-form #search-form #category {
    width: 40%;
    margin-right: 7px;
  }
}
header .header-bottom .search-form #search-form #search-text {
  width: 65%;
  border-left: 1px solid #b5c0ca;
  padding-left: 18px;
  padding-right: 0;
  border-radius: 0;
}
header .header-bottom .search-form #search-form #search-text::-webkit-input-placeholder {
  color: #b5c0ca;
}
header .header-bottom .search-form #search-form #search-text::-moz-placeholder {
  color: #b5c0ca;
}
header .header-bottom .search-form #search-form #search-text:-ms-input-placeholder {
  color: #b5c0ca;
}
header .header-bottom .search-form #search-form #search-text::-ms-input-placeholder {
  color: #b5c0ca;
}
header .header-bottom .search-form #search-form #search-text::placeholder {
  color: #b5c0ca;
}
@media screen and (max-width: 575px) {
  header .header-bottom .search-form #search-form #search-text {
    width: 40%;
    padding-left: 7px;
  }
}
header .header-bottom .search-form .search-btn {
  width: 8%;
  padding: 0;
  cursor: pointer;
}
@media screen and (max-width: 575px) {
  header .header-bottom .search-form .search-btn {
    width: 12%;
  }
}
header .header-bottom .client-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  header .header-bottom .client-section {
    margin-top: 25px;
  }
}
@media screen and (max-width: 460px) {
  header .header-bottom .client-section {
    margin-top: 15px;
  }
}
header .header-bottom .client-section .client-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-bottom .client-section .client-item:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.5;
}
header .header-bottom .client-section .client-item:not(:last-of-type) {
  margin-right: 24px;
}
@media screen and (max-width: 1399px) {
  header .header-bottom .client-section .client-item:not(:last-of-type) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 1199px) {
  header .header-bottom .client-section .client-item:not(:last-of-type) {
    margin-right: 20px;
  }
}
header .header-bottom .client-section .client-item span {
  font-weight: 500;
}
header .header-bottom .client-section .client-item img {
  margin-bottom: 3px;
}

.slider {
  margin-top: 57px;
}
@media screen and (max-width: 1199px) {
  .slider {
    margin-top: 25px;
  }
}
@media screen and (max-width: 460px) {
  .slider {
    margin-top: 15px;
  }
}
.slider .percent {
  color: #f6b712;
  font-size: 121px;
  font-weight: 900;
  margin-right: 27px;
}
@media screen and (max-width: 1199px) {
  .slider .percent {
    font-size: 90px;
  }
}
@media screen and (max-width: 991px) {
  .slider .percent {
    font-size: 70px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .slider .percent {
    font-size: 35px;
  }
}
.slider .slide-text {
  font-size: 64px;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 1199px) {
  .slider .slide-text {
    font-size: 55px;
  }
}
@media screen and (max-width: 991px) {
  .slider .slide-text {
    font-size: 45px;
  }
}
@media screen and (max-width: 767px) {
  .slider .slide-text {
    font-size: 35px;
  }
}
@media screen and (max-width: 460px) {
  .slider .slide-text {
    font-size: 27px;
  }
}
.slider .slide-prodname {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .slider .slide-prodname {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 991px) {
  .slider .slide-prodname {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 23px;
  }
}
@media screen and (max-width: 767px) {
  .slider .slide-prodname {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 460px) {
  .slider .slide-prodname {
    margin-top: 6px;
    font-size: 14px;
  }
}
.slider .buy-btn {
  color: #181818;
  background: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 13px 39px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.slider .buy-btn:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #257ac9;
}
@media screen and (max-width: 991px) {
  .slider .buy-btn {
    font-size: 14px;
    padding: 11px 35px;
  }
}
@media screen and (max-width: 767px) {
  .slider .buy-btn {
    font-size: 13px;
    padding: 9px 29px;
  }
}
@media screen and (max-width: 460px) {
  .slider .buy-btn {
    padding: 7px 24px;
  }
}
.slider .slide {
  background-repeat: no-repeat;
  background-size: cover;
  height: 407px;
  padding: 73px 0 0 74px;
}
@media screen and (max-width: 1399px) {
  .slider .slide {
    height: 351px;
  }
}
@media screen and (max-width: 1199px) {
  .slider .slide {
    height: 284px;
  }
}
@media screen and (max-width: 991px) {
  .slider .slide {
    padding: 30px 0 0 35px;
    height: 237px;
  }
}
@media screen and (max-width: 767px) {
  .slider .slide {
    height: 174px;
    padding: 27px 0 0 25px;
  }
}
@media screen and (max-width: 575px) {
  .slider .slide {
    height: 176px;
    background-size: contain;
  }
}
@media screen and (max-width: 525px) {
  .slider .slide {
    height: 151px;
    padding: 17px 0 0 20px;
  }
}
@media screen and (max-width: 440px) {
  .slider .slide {
    height: 140px;
  }
}
@media screen and (max-width: 420px) {
  .slider .slide {
    height: 122px;
  }
}
@media screen and (max-width: 400px) {
  .slider .slide {
    padding: 13px 0 0 15px;
  }
}
.slider .slide-1 {
  background-image: url(../img/slide-1-bg.png);
}
.slider .pagination {
  text-align: center;
  margin-top: 10px;
}
.slider .pagination .pagination-item:not(:last-of-type) {
  margin-right: 5px;
}
.slider .pagination .pagination-item {
  cursor: pointer;
}
.slider .pagination .pagination-item.active circle {
  fill: #257ac9;
  fill-opacity: 1;
}

.week-sale {
  margin-top: 60px;
}
@media screen and (max-width: 575px) {
  .week-sale {
    margin-top: 30px;
  }
}
@media screen and (max-width: 461px) {
  .week-sale {
    margin-top: 10px;
  }
}
.week-sale .week-sale-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .week-sale .week-sale-row {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (max-width: 575px) {
  .week-sale .week-sale-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.week-sale .week-sale-row h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 32px;
}
@media screen and (max-width: 575px) {
  .week-sale .week-sale-row h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 461px) {
  .week-sale .week-sale-row h2 {
    margin-bottom: 15px;
  }
}
.week-sale .week-sale-row .to-all-prod-link {
  font-weight: 500;
  position: relative;
  padding-right: 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 461px) {
  .week-sale .week-sale-row .to-all-prod-link {
    margin-bottom: 20px;
  }
}
.week-sale .week-sale-row .to-all-prod-link:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.6;
}
.week-sale .week-sale-row .to-all-prod-link::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: -7px;
  top: 0;
}
.week-sale .week-sale-body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  row-gap: 30px;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.week-sale .week-sale-body .week-sale-item .week-sale-img {
  position: relative;
  margin-bottom: 14px;
}
.week-sale .week-sale-body .week-sale-item .week-sale-img .week-sale-imgsale {
  position: absolute;
  left: 6px;
  bottom: 11px;
  color: #fff;
  font-weight: 700;
  background: #579b13;
  border-radius: 111px;
  padding: 2px 4px;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .week-sale-price {
  font-size: 18px;
  color: #257ac9;
  font-weight: bold;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .link-prodname {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .link-prodname:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.6;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .week-sale-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .week-sale-prices .fav .fav-icon {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .week-sale-prices .fav .fav-icon:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  fill: #257ac9;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .week-sale-prices .fav .fav-icon:hover path {
  stroke: #257ac9;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .week-sale-prices .fav .fav-icon.active {
  fill: #257ac9;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .week-sale-prices .fav .fav-icon.active path {
  stroke: #257ac9;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .week-sale-oldprice {
  font-size: 11px;
  font-weight: 500;
  color: #579b13;
  text-decoration: line-through;
}
.week-sale .week-sale-body .week-sale-item .week-sale-info .week-sale-prodname {
  color: #707f8d;
  font-weight: 500;
}

.banners-row {
  display: -ms-grid;
  display: grid;
}

.banners-firstline .banners-row {
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin: 60px 0;
}
@media screen and (max-width: 991px) {
  .banners-firstline .banners-row {
    row-gap: 30px;
  }
}

.banners-secondline .banners-row {
  margin-bottom: 55px;
  gap: 30px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.banners-thirdline .banners-row {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 90px;
}
@media screen and (max-width: 991px) {
  .banners-thirdline .banners-row {
    row-gap: 30px;
  }
}

.catalog1 .catalog-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 60px;
}
.catalog1 .catalog-title-row .catalog-title {
  font-weight: bold;
  font-size: 28px;
  margin-right: 8px;
}
.catalog1 .catalog-title-row .quantity-prod {
  color: #707f8d;
  font-size: 14px;
  font-weight: 500;
}
.catalog1 .catalog-body .catalog-content .catalog-sort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog1 .catalog-body .catalog-content .catalog-sort ul .sort-to {
  font-size: 16px;
  color: #707f8d;
  margin-right: 8px;
}
.catalog1 .catalog-body .catalog-content .catalog-sort ul .sort-link {
  font-size: 16px;
  text-decoration: underline;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.catalog1 .catalog-body .catalog-content .catalog-sort ul .sort-link:not(:first-of-type) {
  margin-right: 28px;
}
.catalog1 .catalog-body .catalog-content .catalog-sort ul .sort-link:first-of-type {
  margin-right: 50px;
}
.catalog1 .catalog-body .catalog-content .catalog-sort ul .sort-link:hover {
  color: #257ac9;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.catalog1 .catalog-body .catalog-content .catalog-sort ul .sort-popul {
  position: relative;
}
.catalog1 .catalog-body .catalog-content .catalog-sort ul .sort-popul::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/arrow-down.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: -23px;
  top: 2px;
}
.catalog1 .catalog-body .catalog-content .fitres-chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog1 .catalog-body .catalog-content .fitres-chosen .filter-item {
  font-weight: 700;
  background: #b5c0ca;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 12px;
  border-radius: 55px;
}
.catalog1 .catalog-body .catalog-content .fitres-chosen .filter-item:not(:last-of-type) {
  margin-right: 12px;
}

footer {
  color: #707f8d;
  margin-bottom: 30px;
}
footer a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer a:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.5;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
footer ul p {
  color: #181818;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 0;
}
footer ul a {
  display: block;
  font-size: 14px;
  font-weight: 400;
}
footer ul a:not(:last-child) {
  margin-bottom: 12px;
}
footer .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 992px) {
  footer .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .footer-row .left-block {
  max-width: 190px;
  margin-right: 180px;
}
@media screen and (max-width: 1199px) {
  footer .footer-row .left-block {
    margin-right: 50px;
  }
}
@media screen and (max-width: 992px) {
  footer .footer-row .left-block {
    margin-right: 0;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    text-align: center;
  }
}
footer .footer-row .left-block p {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
}
footer .footer-row .center-block {
  margin-right: 120px;
}
@media screen and (max-width: 1199px) {
  footer .footer-row .center-block {
    margin-right: 100px;
  }
}
@media screen and (max-width: 992px) {
  footer .footer-row .center-block {
    margin: 25px 0;
  }
}
footer .footer-row .media-block {
  margin-left: auto;
}
@media screen and (max-width: 992px) {
  footer .footer-row .media-block {
    margin-left: 0;
    margin-top: 50px;
  }
}
footer .footer-row .media-block a:not(:last-child) {
  margin-right: 44px;
}
/*# sourceMappingURL=style.css.map */