.catalog-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.catalog-breadcrumbs {
  position: fixed;
  top: 150px;
  width: 100%;
  margin: 0;
}
.catalog1 {
  margin-bottom: 60px;
  .filter-panel {
    position: fixed;
    top: 286px;
    z-index: 2;
  }
  .catalog-titleline {
    display: flex;
    align-items: baseline;
    .catalog-title {
      font-weight: bold;
      font-size: 28px;
      margin-right: 8px;
    }
    .quantity-prod {
      color: $grey;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .catalog-sortblock {
    position: fixed;
    top: 182px;
    width: 100%;
    .catalog-sort {
      margin-bottom: 24px;
      margin-top: 50px;
      ul {
        display: flex;
        .sort-to {
          font-size: 16px;
          color: $grey;
          margin-right: 8px;
        }
        .sort-link {
          font-size: 16px;
          text-decoration: underline;
          transition: all 0.4s;
          cursor: pointer;
          &:not(:first-of-type) {
            margin-right: 28px;
          }
          &:first-of-type {
            margin-right: 50px;
          }
          &:hover {
            color: $blue;
            transition: all 0.4s;
          }
        }
        .sort-popul {
          position: relative;
          &::after {
            content: "";
            width: 16px;
            height: 16px;
            background-image: url(../img/arrow-down.svg);
            background-repeat: no-repeat;
            position: absolute;
            right: -23px;
            top: 2px;
          }
        }
      }
    }
    .fitres-chosen {
      display: flex;
      .filter-item {
        position: relative;
        font-weight: 700;
        background: $placeholder;
        width: fit-content;
        padding: 8px 28px 8px 12px;
        border-radius: 55px;
        &:not(:last-of-type) {
          margin-right: 12px;
        }
        &::after {
          content: "";
          width: 18px;
          height: 18px;
          background-image: url(../img/close-circle.svg);
          background-repeat: no-repeat;
          position: absolute;
          right: 7px;
          top: 7px;
          cursor: pointer;
        }
      }
    }
  }
  .catalog-sort,
  .fitres-chosen {
    margin-left: 285px;
  }
}
