$grey: #707f8d;
$black: #181818;
$green: #579b13;
$blue: #257ac9;
$beige: #fae1d0;
$placeholder: #b5c0ca;
$white-grey: #f2f2f2;
$white: #fff;
$yellow: #f6b712;
html {
  font-family: "Noto Sans", sans-serif;
  color: $black;
  font-size: 14px;
}
select {
  border: none;
  color: $grey;
  background: none;
  cursor: pointer;
  &:focus-visible {
    outline: none;
  }
}
option[default] {
  display: none;
}
input {
  border: none;
  &:focus-visible {
    outline: none;
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: $grey;
}
img {
  width: 100%;
  max-width: 100%;
}
.container {
  margin: 0 auto;
  @media screen and (min-width: 1px) {
    max-width: 100%;
    padding: 0 15px;
  }
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 1290px;
  }
}
.breadcrumbs {
  margin: 60px 0 18px 0;
  ul {
    display: flex;
    .stage {
      position: relative;
      &:not(:last-child) {
        padding-right: 7px;
        margin-right: 28px;
        &::after {
          content: "";
          width: 18px;
          height: 18px;
          background-image: url(../img/arrow-right.svg);
          background-repeat: no-repeat;
          position: absolute;
          right: -17px;
          top: 0;
        }
      }
      a {
        font-weight: 500;
        transition: all 0.4s;
        &:hover {
          color: $blue;
          transition: all 0.4s;
        }
      }
    }
    .stage.active a {
      color: $blue;
    }
  }
}
.logo img {
  max-width: 160px;
}
.add-btn {
  font-weight: bold;
  color: $white;
  font-size: 14px;
  padding: 9px 17px;
  background: $blue;
  border-radius: 8px;
  transition: all 0.4s;
  &:hover {
    transition: all 0.4s;
    background: $green;
  }
}
