.slider {
  margin-top: 57px;
  @media screen and (max-width: 1199px) {
    margin-top: 25px;
  }
  @media screen and (max-width: 460px) {
    margin-top: 15px;
  }
  .percent {
    color: $yellow;
    font-size: 121px;
    font-weight: 900;
    margin-right: 27px;
    @media screen and (max-width: 1199px) {
      font-size: 90px;
    }
    @media screen and (max-width: 991px) {
      font-size: 70px;
      margin-right: 5px;
    }
    @media screen and (max-width: 767px) {
      font-size: 35px;
    }
  }
  .slide-text {
    font-size: 64px;
    font-weight: bold;
    color: $white;
    @media screen and (max-width: 1199px) {
      font-size: 55px;
    }
    @media screen and (max-width: 991px) {
      font-size: 45px;
    }
    @media screen and (max-width: 767px) {
      font-size: 35px;
    }
    @media screen and (max-width: 460px) {
      font-size: 27px;
    }
  }
  .slide-prodname {
    font-weight: bold;
    font-size: 24px;
    color: $white;
    margin-top: 30px;
    margin-bottom: 50px;
    @media screen and (max-width: 1199px) {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 991px) {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 23px;
    }
    @media screen and (max-width: 767px) {
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 460px) {
      margin-top: 6px;
      font-size: 14px;
    }
  }
  .buy-btn {
    color: $black;
    background: $white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 39px;
    transition: all 0.4s;
    &:hover {
      transition: all 0.4s;
      color: $blue;
    }
    @media screen and (max-width: 991px) {
      font-size: 14px;
      padding: 11px 35px;
    }
    @media screen and (max-width: 767px) {
      font-size: 13px;
      padding: 9px 29px;
    }
    @media screen and (max-width: 460px) {
      padding: 7px 24px;
    }
  }
  .slide {
    background-repeat: no-repeat;
    background-size: cover;
    height: 407px;
    padding: 73px 0 0 74px;
    @media screen and (max-width: 1399px) {
      height: 351px;
    }
    @media screen and (max-width: 1199px) {
      height: 284px;
    }
    @media screen and (max-width: 991px) {
      padding: 30px 0 0 35px;
      height: 237px;
    }
    @media screen and (max-width: 767px) {
      height: 174px;
      padding: 27px 0 0 25px;
    }
    @media screen and (max-width: 575px) {
      height: 176px;
      background-size: contain;
    }
    @media screen and (max-width: 525px) {
      height: 151px;
      padding: 17px 0 0 20px;
    }
    @media screen and (max-width: 440px) {
      height: 140px;
    }
    @media screen and (max-width: 420px) {
      height: 122px;
    }
    @media screen and (max-width: 400px) {
      padding: 13px 0 0 15px;
    }
  }
  .slide-1 {
    background-image: url(../img/slide-1-bg.png);
  }
  .pagination {
    text-align: center;
    margin-top: 10px;
    .pagination-item:not(:last-of-type) {
      margin-right: 5px;
    }
    .pagination-item {
      cursor: pointer;
    }
    .pagination-item.active {
      circle {
        fill: $blue;
        fill-opacity: 1;
      }
    }
  }
}

.week-sale {
  margin-top: 60px;
  @media screen and (max-width: 575px) {
    margin-top: 30px;
  }
  @media screen and (max-width: 461px) {
    margin-top: 10px;
  }
  .week-sale-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 767px) {
      align-items: baseline;
    }
    @media screen and (max-width: 575px) {
      flex-wrap: wrap;
    }
    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 32px;
      @media screen and (max-width: 575px) {
        font-size: 20px;
      }
      @media screen and (max-width: 461px) {
        margin-bottom: 15px;
      }
    }
    .to-all-prod-link {
      font-weight: 500;
      position: relative;
      padding-right: 15px;
      transition: all 0.4s;
      @media screen and (max-width: 461px) {
        margin-bottom: 20px;
      }
      &:hover {
        transition: all 0.4s;
        opacity: 0.6;
      }
      &::after {
        content: "";
        width: 18px;
        height: 18px;
        background-image: url(../img/arrow-right.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: -7px;
        top: 0;
      }
    }
  }
  .week-sale-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    row-gap: 30px;
    column-gap: 18px;
    .week-sale-item {
      .week-sale-img {
        position: relative;
        margin-bottom: 14px;
        .week-sale-imgsale {
          position: absolute;
          left: 6px;
          bottom: 11px;
          color: $white;
          font-weight: 700;
          background: $green;
          border-radius: 111px;
          padding: 2px 4px;
        }
      }
      .week-sale-info {
        .week-sale-price {
          font-size: 18px;
          color: $blue;
          font-weight: bold;
        }
        .link-prodname {
          transition: all 0.4s;
          &:hover {
            transition: all 0.4s;
            opacity: 0.6;
          }
        }
        .week-sale-prices {
          display: flex;
          justify-content: space-between;
          .fav {
            .fav-icon {
              cursor: pointer;
              transition: all 0.4s;
              &:hover {
                transition: all 0.4s;
                fill: $blue;
                path {
                  stroke: $blue;
                }
              }
            }
            .fav-icon.active {
              fill: $blue;
              path {
                stroke: $blue;
              }
            }
          }
        }
        .week-sale-oldprice {
          font-size: 11px;
          font-weight: 500;
          color: $green;
          text-decoration: line-through;
        }
        .week-sale-prodname {
          color: $grey;
          font-weight: 500;
        }
      }
    }
  }
}
.banners-row {
  display: grid;
}
.banners-firstline {
  .banners-row {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    column-gap: 30px;
    margin: 60px 0;
    @media screen and (max-width: 991px) {
      row-gap: 30px;
    }
  }
}
.banners-secondline {
  .banners-row {
    margin-bottom: 55px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}
.banners-thirdline {
  .banners-row {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 30px;
    margin-bottom: 90px;
    @media screen and (max-width: 991px) {
      row-gap: 30px;
    }
  }
}
